@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');




* {
    font-family: 'Poppins', sans-serif;
    cursor: crosshair;

}





.avatar {
    width: 60%;
}


.frontend {
    border-radius: 15px;

   
    background-image: linear-gradient(to top, #060c1f, #071531, #061c44, #062358, #0b296c, #112f7c, #19358c, #213b9c, #2743ac, #2c4bbc, #3253cd, #375bde);

}

.graphics {
    border-radius: 15px;
   
    background-image: linear-gradient(to top, #060c1f, #071531, #061c44, #062358, #0b296c, #112f7c, #19358c, #213b9c, #2743ac, #2c4bbc, #3253cd, #375bde);


}

.backend {

    border-radius: 15px;
    background: rgb(131, 87, 167);
    background-image: linear-gradient(to top, #060c1f, #071531, #061c44, #062358, #0b296c, #112f7c, #19358c, #213b9c, #2743ac, #2c4bbc, #3253cd, #375bde);




}


.text {

    position: absolute;
    top: 19.5%;
    right: 50%;
    transform: translate(50%, -50%);

    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #162E83,
        1px 2px 1px #162E83,
        1px 3px 1px #162E83,
        1px 4px 1px #162E83,
        1px 5px 1px #162E83,
        1px 7px 1px #162E83,
        1px 6px 1px #162E83,
        1px 7px 1px #162E83,
        1px 3px 1px #162E83,
        1px 18px 6px rgba(0, 4, 255, 0.1),
        1px 22px 10px rgba(0, 34, 255, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 10px 40px rgba(16, 16, 16, 0.4);
}

.text0 {
    top: 15%;
}

.skills {
    text-shadow: 1px 1px   #162E83,
        1px 2px 1px #162E83,
        1px 3px 1px #162E83,
        1px 3px 7px #48578f,
       
       

        
        1px 22px 10px rgba(0, 0, 0, 0.2),
        1px 25px 35px rgba(0, 0, 0, 0.2),
        1px 30px 60px rgba(0, 0, 0, 0.2);

}

.w-40 {
    width: 39%;
}

.fs-6 {
    font-size: 0.9rem!important;
}

.nav-item:hover {
    color: rgb(32, 26, 152);
    font-size: 18px;
}


.nav-item {
    transition: transform 200ms;
    cursor: pointer;
    transition: 0.3s;
}

.nav-item::before {
    content: '<h2>';
    font-size: 0.7rem;
    display: inline-block;
    opacity: 0;
    transition: opacity 200ms;
}

.nav-item::after {
    content: '</h2>';
    display: inline-block;
    font-size: 0.7rem;

    opacity: 0;
    transition: opacity 200ms;
}

.nav-item:hover {
    transform: none;
    color: #fff;
    text-shadow: 0px 4px 5px #1b78f2, 0 0 25px #162E83, 0 0 50px #2947b2, 0 0 100px #3258e2;
}

.nav-item:hover::before {
    opacity: 1;
    color: #fff;
    text-shadow: 0px 4px 5px #335ae6, 0 0 25px #162E83, 0 0 50px #2947b2, 0 0 100px #0825a2;
}

.nav-item:hover::after {
    opacity: 0.9;
    color: #fff;
    text-shadow: 0px 4px 5px #5071eb, 0 0 25px #162E83, 0 0 50px #2947b2, 0 0 100px #3258e2;
}


hr {

    height: 10px;
    background: linear-gradient(-135deg, #fff 5px, transparent 0) ;
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 10px 10px;
}


/* social part */
a {
    text-decoration: none;
    color: white;
}

.social {
    position: fixed;
    top: 20px;

}

.social ul {
    padding: 0px;
    transform: translate(-270px, 0);
}

.social ul li {
    display: block;
    margin: 12px;
    background: rgba(0, 72, 255, 0.5);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1.5s;
}

.social ul li:hover {
    transform: translate(100px, 0);
    background: #150872;
    transition: all 1.5s;

}

.social ul li:hover a {
    color: white;
}

.social ul li:hover i {
    color: #060b6b;
    background: white;
    transform: rotate(360deg);
    transition: all 1.5s;
}

.social ul li i {

    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transform: rotate(0deg);
    text-align: center;
    font-size: 20px;
}





@media only screen and (min-width: 0px) and (max-width: 900px) {

    .aboutmetext {
        font-size: 0.9rem;
    }

   

    .col-3, .col-4 {
        width: 80%;
        margin: 10px;
        font-size: smaller;
    }

    .text {
        font-size: 1.5rem;
        top: 25%;

    }

    .text0 {
        top: 18%;
    }


    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
        font-size: 0.8rem;
        width: 100% !important;
        margin: 0 !important;
        justify-content: end;
    }

  



    body>header>nav {
        font-size: 0.8rem;
        display: flex;
    }

    .avatar {
        margin-left: 0 !important;
        width: 100% !important;
    }

    #mobile-head>p {
        font-size: 0.7rem;
        margin-top: 10px;
        display: none;
    }

    .main {
        margin-top: 8rem;
    }



    .nav-item::before {
        content: '//';
        font-size: 0.4rem;
        display: inline-block;
        opacity: 0;
        transition: opacity 300ms;
    }

    .nav-item::after {
        content: none;
        display: inline-block;
        font-size: 0.4rem;
        opacity: 0;
        transition: opacity 300ms;
    }

    .nav-item:hover {
        color: rgb(25, 44, 255);
        font-size: 10px;
    }

    .w-40 {
        width: 80%;
        font-size: smaller;
        margin: auto;
    }

    #mobile-head {
        flex-wrap: wrap;
        justify-content: center;
    }

    .social ul li:hover {
        transform: translate(0px, 0);


    }
}

     .film-details {
        display: block;
      }

      .hidden {
        display: none;
        
        
      }
      
  
      
      .film-details:hover .hidden {
        display: block;
        position: relative;
        bottom:90%;
        height: 0px;
   
         
      }

      .film-details:hover img {
        opacity: 0.1;
      }

     
.contatti {
   border-radius: 15px;
   background: hsla(195, 75%, 3%, 1);

   background: linear-gradient(360deg, hsla(195, 75%, 3%, 1) 0%, hsla(232, 64%, 25%, 1) 70%);
   
   background: -moz-linear-gradient(360deg, hsla(195, 75%, 3%, 1) 0%, hsla(232, 64%, 25%, 1) 70%);
   
   background: -webkit-linear-gradient(360deg, hsla(195, 75%, 3%, 1) 0%, hsla(232, 64%, 25%, 1) 70%);
   
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#020B0E", endColorstr="#172269", GradientType=1 );
}

.text {
 
        -webkit-animation: text-focus-in 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 1.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  
}



/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  /* avatar */

  .avatar {
	-webkit-animation: scale-up-center 1.3s cubic-bezier(1.000, 0.000, 0.000, 1.000) both;
	        animation: scale-up-center 1.3s cubic-bezier(1.000, 0.000, 0.000, 1.000) both;
}


 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.2);
              transform: scale(0.2);
    }
    100% {
      -webkit-transform: scale(0.90);
              transform: scale(0.90);
    }
  }
  